#container {  /* the entire thing is in flex column format but each individual section is in flex row format */
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

h1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.button {
    display: flex;
    gap: 35px;
    justify-content: space-around;
    align-items: center;
    padding: 40px 160px 40px 160px;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 30px;
    width: 200px;
    height: 80px;
    border-radius: 10px;
}

.choices {
    display: flex;
    gap: 35px;
    justify-content: space-evenly;
    /* justify-content: space-around; */
    align-items: center;
    padding: 20px 160px 20px 160px;
}

.player-card {  
    display: flex;
    flex-direction: column; /* the player and computer section is put in a column so the selection and score are always on top of
    each other */
    gap: 20px;
    text-align: center;
}

.computer-card {
    display: flex;
    flex-direction: column; /* the player and computer section is put in a column so the selection and score are always on top of
    each other */
    gap: 20px;
    text-align: center;
}

.player-choice {
    border: 2px solid black;
    font-size: 20px;
    text-align: center;
    padding: 40px 0px 0px 0px;
    width: 300px;
    height: 60px;
    border-radius: 10px; 
}

.player-score {
    font-size: 20px;
}

.computer-choice {
    border: 2px solid black;
    font-size: 20px;
    text-align: center;
    padding: 40px 0px 0px 0px;
    width: 300px;
    height: 60px;
    border-radius: 10px;
}

.computer-score {
    font-size: 20px;
}

.round {
    display: flex;
    gap: 35px;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px 160px 20px 160px;
}

.single-round {
    border: 2px solid black;
    font-size: 20px;
    text-align: center;
    padding: 40px 0px 0px 0px;
    width: 600px;
    height: 60px;
    border-radius: 10px;
}

.winner {
    display: flex;
    gap: 15px;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px 160px 20px 160px;
}

.win-message {
        border: 2px solid black;
        font-size: 20px;
        text-align: center;
        padding: 40px 0px 0px 0px;
        width: 600px;
        height: 60px;
        border-radius: 10px;
}